extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, at ipsum modi numquam officia quia quis quo sed. A amet eveniet, harum itaque modi molestias nesciunt nulla quibusdam quod repudiandae.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur enim in iusto non officiis quas reiciendis veritatis voluptas. Autem culpa deleniti ducimus eaque eos eum iusto laborum magnam quidem similique!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores autem dicta dolor dolorum ipsa maxime, placeat quas ratione, sequi soluta totam voluptatibus? Impedit minima nesciunt optio quia quisquam vel?

    .listado-iconos
        .container.mt-5.py-5.text-xl-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="icono seguridad")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut ducimus eaque explicabo, quidem recusandae.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="icono destinos")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis in incidunt ipsum modi rem!
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="icono precios")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, dolorum libero officiis provident repudiandae tempore.

